<div class="container"  style="max-height: 400px; overflow-y: auto; display: block;">
    <div class="row">
        @foreach (var cast in MovieCredits.cast.Where(cast => !String.IsNullOrWhiteSpace(cast.profile_path)))
        {
            <div class="col-3">
                <img style="height:150px; margin-bottom: 10px;"
                     src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/@cast?.profile_path?.Replace("/", "")" />
                <p>@cast.name</p>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public int MovieId { get; set; }
    [Parameter]
    public MovieCreditsResults MovieCredits { get; set; }
}
