@page "/details/{MovieId:int}"
@if (MovieDetails == null)
{
    <h3>Details of are loading . . .</h3>
}
else
{
    <div class="container-fluid">
        <MovieDetailGeneral MovieDetails="MovieDetails" />
        <MovieDetailTrailers MovieTrailers="MovieTrailers" />
    </div>
}

@code {
    [Parameter]
    public int MovieId { get; set; }
    public MovieDetailResult MovieDetails { get; set; }
    public MovieTrailersResluts MovieTrailers { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var client = new TheMovieDBApiClient();
        MovieDetails = client.GetMovieDetail(MovieId);
        MovieTrailers = client.GetMovieTrailers(MovieId);

        TestDb();
    }

    void TestDb()
    {
        using (var db = new SQLiteDbContext())
        {
            db.WatchList.Add(new WatchList()
            {
                MovieId = MovieDetails.id,
                Title = MovieDetails.title,
                PosterPath = MovieDetails.poster_path
            });
            db.SaveChanges();

            var watchList = db.WatchList.ToList();

            db.WatchList.RemoveRange(watchList);
            db.SaveChanges();
        }
    }
}
