@page "/"
@page "/search"

<h3>Search</h3>
<input @bind="SearchTerm" />
<button @onclick="SearchMovies">Search</button>

<MovieList Movies="Movies"/>

@code {
    String SearchTerm;
    List<Movie> Movies { get; set; } = new List<Movie>();

    void SearchMovies()
    {
        var client = new TheMovieDBApiClient();
        Movies = client.Search(SearchTerm);
    }
}
