@page "/watchlist"

<h3>WatchList</h3>

<MovieList Movies="Movies" />

@code {
    public WatchListDbService DbService { get; set; }
    List<Movie> Movies { get; set; }

    protected override async Task OnInitializedAsync()
    {
        DbService = new WatchListDbService();
        Movies = DbService.Get().Select(movie => new Movie() {
            ID = movie.MovieId,
            Title = movie.Title,
            Poster = movie.PosterPath
        }).ToList();
    }
}
